.main {
    display: flex;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    font-weight: bold;
    margin-right: auto;
}

.button {
    color: white;
}

.user {
    display: inline-block
}